<div class="div">
  <div class="row">
<div class="col-md-12" >

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group" >
        <label for="Title"> Title</label>
        <input
        type="text"
        id="title"
        class="form-control"
        [ngModel]="book.Title"
        name="title"
        required
        #title='ngModel'
        >
      </div>
      <div [hidden]="title.valid || title.pristine"
      class="alert alert-danger">
      Title is required
      </div>

      <label for="Description">Description</label>
      <div class="form-group">
        <textarea
        id="desciption"
        cols="60"
        rows="5"
        class="form-control"
        [ngModel]="book.Description"
        name="description"
        ></textarea>
      </div>

      <div class="form-group">
          <label for="authName">Author Name</label>
          <input
          type="text"
          id="authName"
          class="form-control"
         [ngModel]="book.AuthorName"
          name="authName"
          required
          #AuthName = 'ngModel'
          >
        </div>
      <div [hidden]="AuthName.valid || AuthName.pristine"
        class="alert alert-danger">
        Author Name is required
      </div>
        <button style="float: left" type="button" class="btn btn-light btn-sm ml-1" (click)="onRemoveBook(id)"><i class="fas fa-trash"></i></button>
        <button style="float: right" type="button" class="btn btn-outline-danger btn-sm ml-1" (click)="onExit()">Exit</button>
        <button style="float: right" type="submit" [disabled]="!f.valid" class="btn btn-outline-success btn-sm ml-1">{{editMode? 'Update' : 'Save'}}</button>
        <button style="float: right" type="button" class="btn btn-outline-secondary btn-sm ml-1"(click)="onClear()">Clear</button>
    </form>

    </div>
  </div>
</div>
